* {
  margin: 0;
  padding: 0;
}

.carousel-img {
  background-color: rgb(246, 248, 250);
  height: 700px;
  width: 100%;
  margin: 4px auto;
}
.carousel-img .car_1 img {
  height: 700px;
  width: 100%;
  margin: 0 auto;
}
.carousel .control-dots {
  display: none;
}
.carousel .thumbs {
  display: none;
}
.carousel .carousel-status {
  display: none;
}
.car_1 {
  position: relative;
  text-align: center;
}
.heading {
  position: absolute;
  left: 30%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
}
.car_1 button {
  position: absolute;
  left: 30%;
  top: 55%;
  transform: translate(-50%, -50%);
  background-color: rgb(246, 248, 250);

  font-size: 1rem;
  border-radius: 6px;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 30px;
}
.services {
  background-color: rgb(246, 248, 250);
}
.services h1 {
  padding-left: 50px;
  font-size: 2rem;
  padding-top: 0px;
}

.services h3 {
  padding-left: 50px;
  padding-top: 20px;
  font-size: 0.8rem;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: rgb(81, 56, 238);
}
.heading-right {
  position: absolute;
  left: 60%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-align: justify;
}
.heading-right button {
  position: absolute;
  left: 60%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-align: center;
}
.car_1 .s-btn {
  position: absolute;
  left: 70%;
  top: 60%;
  transform: translate(-50%, -50%);
  background-color: rgb(246, 248, 250);
  font-size: 1rem;
  border-radius: 6px;
  padding: 1rem 3rem;
  text-align: center;
}

.heading .left-head {
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .carousel-img img {
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  .heading-right {
    position: absolute;
    left: 60%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
  }

  .car_1 .s-btn {
    position: absolute;
    left: 70%;
    top: 60%;

    font-size: 1rem;
    border-radius: 6px;
    padding: 0.5rem 4rem;
    text-align: center;
  }

}
@media screen and (max-width: 600px) and ( min-width:300px) {

  .car_1 button {
    position: absolute;
    left: 30%;
    top: 70%;
    transform: translate(-50%, -50%);
    background-color: rgb(246, 248, 250);
    font-size: 1rem;
    border-radius: 6px;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 30px;
}
}
  
