
.signup{
  height: 100vh;
  width: 100%;
  /* background-color: darkblue; */
}

.container .form-area .form{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.container .form-area .form textarea {
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  resize: none;
  padding: 0px 5px;
}
.container .form-area .form input{
  padding: 15px 5px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}
.container .form-area .form input::placeholder{
  color: #999;
  letter-spacing: 1px;
}
.container .form-area .form input:hover::placeholder,
.container .form-area .form textarea:hover::placeholder{
  padding-left: 10px;
  transition: .3s all ease-in-out;
}
.container .form-area .form input:focus,
.container .form-area .form textarea:focus{
  border-bottom: 1px solid #62c3fc;
  animation: border .5s ease;
}
.container .form-area .form button {
  margin-top: 10px;
  border: none;
  padding: 10px 0px;
  border-radius: 30px;
  background-color: #62c3fc;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  transition: .3s all ease-in-out;
}