.navbar {
  padding: 0px 4.8rem;
  height: 5rem;
  background-color: rgb(246, 248, 250);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  }
  
  .logo img {
    width: 160px;
    height: 80px;
    margin-left: 20px;
  }
  .nav-links {
    display: flex;
    list-style: none;
    
  }
  .Home,
  .About,
  .Contact, 
  .cart{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    display: flex;
    gap: 4.8rem;
    align-items: center;
  }
  .cart{
    padding: 10px 4px;
  }
  
  .cart__style{
    display: none;
  }
  
  
  .mobile-menu-icon {
    display: none;
  }
 
  @media screen and (max-width: 800px) {
    .navbar {
      /* padding: 0px 1rem; */
      height: 5rem;
     
    }
   
    .logo {
      display: flex;
      position: absolute;
      top: 15px;
      left: 0px;
     
    }
    .Contact-1 {
      justify-content: center;
      text-align: center;
    }
  
    .nav-links {
      display: none;
    }
    .nav-links-mobile {
      position: absolute;
      display: block;
      list-style: none;
      background-color: rgb(246, 248, 250);
      left: 0;
      top: 75px;
      width: 100%;
      transition: all 0.5s ease-out;
      z-index: 1;
    }
    .cart__style{
      padding-left: 80%;
      margin-top: 25px;
      list-style: none;
      display: block;
      font-size: 1.5rem;
      padding-right: 3px;
  }
  .cart{
    display: none;
  }

    
  
    
  
    .Home,
    .About,
    .Contact {
      text-align: center;
      font-size: 20px;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;
    }
    .logo img {
      margin-top: -10px;
    width: 105px;
    height: 66px;
  }
    .mobile-menu-icon {
      display: block;
      position: absolute;
      font-size: 1.5rem;
      border: none;
      outline: none;
      top: 40px;
      right: 25px;
      background: transparent;
      color: black;
      /* padding: 20px; */
    }
  
    .image-container {
      overflow: hidden;
      flex-direction: row;
      border: 1px solid rgb(123, 62, 181);
      height: 20%;
    }
  }

  @media screen and (max-width:600px) and (min-width:500px) {
    .cart__style {
      padding-left: 70%;
      margin-top: 25px;
      list-style: none;
      display: block;
      font-size: 1.5rem;
      padding-right: 3px;
  }
  .mobile-menu-icon{
   right: 40px;
  }
}

@media screen and (max-width:500px) and (min-width:300px) {
  .cart__style {
    padding-left:50%;

    
}
.mobile-menu-icon{
 right: 40px;
}

}
@media screen and (max-width:400px)  {
  .cart__style {
    padding-left:45%;

    
}
}
